<a href="https://colab.research.google.com/github/Adil-JK/Pandas/blob/main/Pandas_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
data = pd.read_csv("diabetes.csv")
data.columns=["Pregnancies", "Glucose", "BloodPressure", "SkinThickness(mm)", "Insulin(mu U/ml)", "BMI", "DiabetesPedigreeFunction", "Age(Years)", "Outcome"]
print(data)

FileNotFoundError: ignored

In [ ]:
data.drop(columns="Pregnancies", inplace=True)
print(data)

NameError: ignored

In [ ]:
print(data.loc[0:10, "Age(Years)"])

NameError: ignored

# When do we need to clean our data?
1. Abnormal values
2. Null values
3. Garbage values
4. Repeating values
5. Invalid format of data

In [ ]:
data.info()

NameError: ignored

In [ ]:
data.head()

NameError: ignored

In [ ]:
x = data["Glucose"].mode()
x

NameError: ignored

In [ ]:
data.info()

NameError: ignored

In [ ]:
data.head()

NameError: ignored

In [ ]:
data.loc[0, "Glucose"]= 90

NameError: ignored

In [ ]:
print(data["Glucose"])

NameError: ignored

In [ ]:
data.head(5)

NameError: ignored

In [ ]:
df = pd.read_csv("iris_data.csv")
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
for i in df.index:
  if df.loc[i, "sepal_length"]>=4.5:
    df.loc[i, "sepal_length"]=5.0
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.0          3.5           1.4          0.2  setosa
1           5.0          3.0           1.4          0.2  setosa
2           5.0          3.2           1.3          0.2  setosa
3           5.0          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
df.loc[0,"sepal_length"]= np.NaN
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           NaN          3.5           1.4          0.2  setosa
1           5.0          3.0           1.4          0.2  setosa
2           5.0          3.2           1.3          0.2  setosa
3           5.0          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  149 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           NaN          3.5           1.4          0.2  setosa
1           5.0          3.0           1.4          0.2  setosa
2           5.0          3.2           1.3          0.2  setosa
3           5.0          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
df['petal_length'] = np.where(df['petal_length'].between(1.0,3.0),5.0,df['petal_length'])
print(df.to_string())

     sepal_length  sepal_width  petal_length  petal_width     species
0             NaN          3.5           5.0          0.2      setosa
1             5.0          3.0           5.0          0.2      setosa
2             5.0          3.2           5.0          0.2      setosa
3             5.0          3.1           5.0          0.2      setosa
4             5.0          3.6           5.0          0.2      setosa
5             5.0          3.9           5.0          0.4      setosa
6             5.0          3.4           5.0          0.3      setosa
7             5.0          3.4           5.0          0.2      setosa
8             4.4          2.9           5.0          0.2      setosa
9             5.0          3.1           5.0          0.1      setosa
10            5.0          3.7           5.0          0.2      setosa
11            5.0          3.4           5.0          0.2      setosa
12            5.0          3.0           5.0          0.1      setosa
13            4.3          3.0           5.0          0.1      setosa
14            5.0          4.0           5.0          0.2      setosa
15            5.0          4.4           5.0          0.4      setosa
16            5.0          3.9           5.0          0.4      setosa
17            5.0          3.5           5.0          0.3      setosa
18            5.0          3.8           5.0          0.3      setosa
19            5.0          3.8           5.0          0.3      setosa
20            5.0          3.4           5.0          0.2      setosa
21            5.0          3.7           5.0          0.4      setosa
22            5.0          3.6           5.0          0.2      setosa
23            5.0          3.3           5.0          0.5      setosa
24            5.0          3.4           5.0          0.2      setosa
25            5.0          3.0           5.0          0.2      setosa
26            5.0          3.4           5.0          0.4      setosa
27            5.0          3.5           5.0          0.2      setosa
28            5.0          3.4           5.0          0.2      setosa
29            5.0          3.2           5.0          0.2      setosa
30            5.0          3.1           5.0          0.2      setosa
31            5.0          3.4           5.0          0.4      setosa
32            5.0          4.1           5.0          0.1      setosa
33            5.0          4.2           5.0          0.2      setosa
34            5.0          3.1           5.0          0.1      setosa
35            5.0          3.2           5.0          0.2      setosa
36            5.0          3.5           5.0          0.2      setosa
37            5.0          3.1           5.0          0.1      setosa
38            4.4          3.0           5.0          0.2      setosa
39            5.0          3.4           5.0          0.2      setosa
40            5.0          3.5           5.0          0.3      setosa
41            5.0          2.3           5.0          0.3      setosa
42            4.4          3.2           5.0          0.2      setosa
43            5.0          3.5           5.0          0.6      setosa
44            5.0          3.8           5.0          0.4      setosa
45            5.0          3.0           5.0          0.3      setosa
46            5.0          3.8           5.0          0.2      setosa
47            5.0          3.2           5.0          0.2      setosa
48            5.0          3.7           5.0          0.2      setosa
49            5.0          3.3           5.0          0.2      setosa
50            5.0          3.2           4.7          1.4  versicolor
51            5.0          3.2           4.5          1.5  versicolor
52            5.0          3.1           4.9          1.5  versicolor
53            5.0          2.3           4.0          1.3  versicolor
54            5.0          2.8           4.6          1.5  versicolor
55            5.0          2.8           4.5          1.3  versicolor
56            5.0          3.3           4.7          1.6  versicolor
57            5.0          2.4           3.3          1.0  versicolor
58            5.0          2.9           4.6          1.3  versicolor
59            5.0          2.7           3.9          1.4  versicolor
60            5.0          2.0           3.5          1.0  versicolor
61            5.0          3.0           4.2          1.5  versicolor
62            5.0          2.2           4.0          1.0  versicolor
63            5.0          2.9           4.7          1.4  versicolor
64            5.0          2.9           3.6          1.3  versicolor
65            5.0          3.1           4.4          1.4  versicolor
66            5.0          3.0           4.5          1.5  versicolor
67            5.0          2.7           4.1          1.0  versicolor
68            5.0          2.2           4.5          1.5  versicolor
69            5.0          2.5           3.9          1.1  versicolor
70            5.0          3.2           4.8          1.8  versicolor
71            5.0          2.8           4.0          1.3  versicolor
72            5.0          2.5           4.9          1.5  versicolor
73            5.0          2.8           4.7          1.2  versicolor
74            5.0          2.9           4.3          1.3  versicolor
75            5.0          3.0           4.4          1.4  versicolor
76            5.0          2.8           4.8          1.4  versicolor
77            5.0          3.0           5.0          1.7  versicolor
78            5.0          2.9           4.5          1.5  versicolor
79            5.0          2.6           3.5          1.0  versicolor
80            5.0          2.4           3.8          1.1  versicolor
81            5.0          2.4           3.7          1.0  versicolor
82            5.0          2.7           3.9          1.2  versicolor
83            5.0          2.7           5.1          1.6  versicolor
84            5.0          3.0           4.5          1.5  versicolor
85            5.0          3.4           4.5          1.6  versicolor
86            5.0          3.1           4.7          1.5  versicolor
87            5.0          2.3           4.4          1.3  versicolor
88            5.0          3.0           4.1          1.3  versicolor
89            5.0          2.5           4.0          1.3  versicolor
90            5.0          2.6           4.4          1.2  versicolor
91            5.0          3.0           4.6          1.4  versicolor
92            5.0          2.6           4.0          1.2  versicolor
93            5.0          2.3           3.3          1.0  versicolor
94            5.0          2.7           4.2          1.3  versicolor
95            5.0          3.0           4.2          1.2  versicolor
96            5.0          2.9           4.2          1.3  versicolor
97            5.0          2.9           4.3          1.3  versicolor
98            5.0          2.5           5.0          1.1  versicolor
99            5.0          2.8           4.1          1.3  versicolor
100           5.0          3.3           6.0          2.5   virginica
101           5.0          2.7           5.1          1.9   virginica
102           5.0          3.0           5.9          2.1   virginica
103           5.0          2.9           5.6          1.8   virginica
104           5.0          3.0           5.8          2.2   virginica
105           5.0          3.0           6.6          2.1   virginica
106           5.0          2.5           4.5          1.7   virginica
107           5.0          2.9           6.3          1.8   virginica
108           5.0          2.5           5.8          1.8   virginica
109           5.0          3.6           6.1          2.5   virginica
110           5.0          3.2           5.1          2.0   virginica
111           5.0          2.7           5.3          1.9   virginica
112           5.0          3.0           5.5          2.1   virginica
113           5.0          2.5           5.0          2.0   virginica
114           5.0          2.8           5.1          2.4   virginica
115           5.0          3.2           5.3          2.3   virginica
116           5.0          3.0           5.5          1.8   virginica
117           5.0          3.8           6.7          2.2   virginica
118           5.0          2.6           6.9          2.3   virginica
119           5.0          2.2           5.0          1.5   virginica
120           5.0          3.2           5.7          2.3   virginica
121           5.0          2.8           4.9          2.0   virginica
122           5.0          2.8           6.7          2.0   virginica
123           5.0          2.7           4.9          1.8   virginica
124           5.0          3.3           5.7          2.1   virginica
125           5.0          3.2           6.0          1.8   virginica
126           5.0          2.8           4.8          1.8   virginica
127           5.0          3.0           4.9          1.8   virginica
128           5.0          2.8           5.6          2.1   virginica
129           5.0          3.0           5.8          1.6   virginica
130           5.0          2.8           6.1          1.9   virginica
131           5.0          3.8           6.4          2.0   virginica
132           5.0          2.8           5.6          2.2   virginica
133           5.0          2.8           5.1          1.5   virginica
134           5.0          2.6           5.6          1.4   virginica
135           5.0          3.0           6.1          2.3   virginica
136           5.0          3.4           5.6          2.4   virginica
137           5.0          3.1           5.5          1.8   virginica
138           5.0          3.0           4.8          1.8   virginica
139           5.0          3.1           5.4          2.1   virginica
140           5.0          3.1           5.6          2.4   virginica
141           5.0          3.1           5.1          2.3   virginica
142           5.0          2.7           5.1          1.9   virginica
143           5.0          3.2           5.9          2.3   virginica
144           5.0          3.3           5.7          2.5   virginica
145           5.0          3.0           5.2          2.3   virginica
146           5.0          2.5           5.0          1.9   virginica
147           5.0          3.0           5.2          2.0   virginica
148           5.0          3.4           5.4          2.3   virginica
149           5.0          3.0           5.1          1.8   virginica

In [ ]:
print(df.loc[85, "sepal_width"])

3.4